{% extends 'master.html' %}

{% block content %}
    <section class="table-section">
      <h2>Listado de Departamentos</h2>

      <table>
        <thead>
          <tr>
            <th>Nombre del Propietario</th>
            <th>Costo</th>
            <th>Número de Cuartos</th>
            <th>Edificio</th>
          </tr>
        </thead>

        <tbody>
          {% for departamento in departamentos %}
          <tr>
            <td>{{ departamento.nombre_propietario }}</td>
            <td><span class="yellow">${{ departamento.costo }}</span></td>
            <td>{{ departamento.numero_cuartos }}</td>
            <td>{{ departamento.edificio }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
{% endblock %}